In [2]:
import numpy  as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn           as sns

In [3]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [4]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [5]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [6]:
values = pd.Series([0, 1, 0, 0] * 2)
dim    = pd.Series(['apple', 'orange'])
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [7]:
dim

0     apple
1    orange
dtype: object

In [8]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [9]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N      = len(fruits)

df     = pd.DataFrame({'fruit': fruits,
                       'basket_id': np.arange(N),
                       'count': np.random.randint(3, 15, size=N),
                       'weight': np.random.uniform(0, 4, size=N)},
                      columns=['basket_id', 'fruit', 'count', 'weight'])
df

   basket_id   fruit  count    weight
0          0   apple     11  0.476732
1          1  orange      9  2.868341
2          2   apple     13  1.729011
3          3   apple      8  2.786987
4          4   apple     11  3.564168
5          5  orange     12  0.757699
6          6   apple     11  2.462871
7          7   apple     13  3.282754

In [11]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [12]:
c = fruit_cat.values
c

[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]

In [13]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [14]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [15]:
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4,
                   'value': np.arange(12.)})
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [16]:
g = df.groupby('key').value

In [17]:
g

In [18]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64